<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leo.aiteacher.pojo.mapper.CourseStudentMapper">

    <insert id="insertIgnore">
        INSERT IGNORE INTO course_students (course_code, student_id)
        VALUES (#{courseCode}, #{studentId})
    </insert>

</mapper>